mark {
  color: var(--app-color-primary);
  background-color: transparent;
}

pre.shiki {
  --font-size: 1rem;
  border-radius: 0.6rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  font-size: var(--font-size) !important;
  line-height: 1.3 !important;
}

pre.shiki code {
  font-size: inherit;
  border-radius: inherit;
  overflow: inherit;
  background-color: inherit;
  padding: 0;
}

pre.shiki::-webkit-scrollbar {
  background-color: rgba(244, 244, 244, 0.1);
  width: 15px;
  border-radius: 0 0 0.6rem 0.6rem;
}

pre.shiki::-webkit-scrollbar-thumb {
  background-color: rgba(244, 244, 244, 0.8);
  border: 3px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
  transition: all 200ms;
}

pre.shiki::-webkit-scrollbar-thumb:hover {
  background-color: rgba(244, 244, 244, 1);
}

code {
  background-color: rgba(var(--app-color-dark-rgb), 0.1);
  padding: 4px 4px;
  border-radius: 4px;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
}

#blog-content h2 {
  font-size: calc(1.3 * 1.618rem);
  line-height: 1.618;
}

#blog-content h2 a, #blog-content h1 a {
  font-weight: 600;
  margin-right: 0.7rem;
}

#blog-content video {
  max-width: 100%;
  width: 15em;
}

#blog-content .gif-vid-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#blog-content blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: solid 4px var(--app-color-primary);
  font-family: "Fira Code", monospace;
  border-radius: 0 8px 8px 0;
  background-color: rgba(var(--app-color-dark-rgb), 0.05);
}

#blog-content .picture-container {
  margin: 1rem 0;
}

#blog-content figure {
  margin: 0;
  position: relative;
  border-radius: 0.5rem;
}

#blog-content figure picture {
  border-radius: inherit;
}

#blog-content figure img {
  width: 100%;
  position: absolute;
  height: auto;
  top: 0;
  opacity: 0;
  transition: opacity 200ms ease-in;
  border-radius: inherit;
}

#blog-content figure img.lazyloaded {
  opacity: 1;
}
